
body {
  background-image: url('https://s2.best-wallpaper.net/wallpaper/1366x768/1111/Beautiful-yellow-tulips-flowers_1366x768.jpg');
  background-repeat: no-repeat;
  background-size: cover;
      }
